<!DOCTYPE html>
<html>

<!-- Styling for the Table (ref:w3schools) --> 
<style> 
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="simple-api" ng-controller="list-get-api"> 

<table>
  <tr>
    <th>Index</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone no.</th>
  </tr>
  <tr ng-repeat="x in myWelcome">  <!-- loops over all returned objects in the JSON object -->
    <td>{{$index + 1}}</td>
    <td>{{ x.first_name }}</td> <!-- outputs the first name -->
    <td>{{ x.last_name }}</td> <!-- outputs the last name -->
    <td>{{ x.phone_number }}</td> <!-- outputs the Phone no. -->
  </tr>
</table>

</div>

<script>
var app = angular.module('simple-api', []);
app.controller('list-get-api', function($scope, $http) {
  $http.get("/api/v1.0/phone") // make request to the api
  .then(function(response) {
      $scope.myWelcome = response.data.objects;
  });
});
</script>

</body>
</html>
